<!-- Dashboard -->
<template x-if="$store.auth.isAuthenticated" x-cloak>
  <div x-data="dashboard">
    <!-- Tabs mobile -->
    <div
      class="md:hidden border-t border-gray-200 fixed inset-x-0 bottom-0 top-14 z-50 bg-white rounded-tl-3xl rounded-tr-2xl"
      x-show.important="$store.tabs.state.mobileShowTabs"
      x-init="$watch('$store.tabs.state.mobileShowTabs', (value) => $store.tabs.toggleMobileMenu(value, $el))"
      x-transition:leave="transition duration-500" x-cloak @click.outside="$store.tabs.state.mobileShowTabs = false">
      <nav class="flex flex-col space-y-2 p-4">
        <button @click="$store.tabs.state.mobileShowTabs = false"
          class="self-start text-sm text-gray-500 hover:text-gray-700 py-2 px-3">
          <span x-icon:close></span>
        </button>
        <template x-for="tab in $store.tabs.state.tabs" :key="tab.id">
          <button @click="activeTab = tab.id" :class="{
              'text-primary': activeTab === tab.id,
              'text-gray-500 hover:text-gray-700': activeTab !== tab.id
            }" class="py-2 px-3 text-sm font-medium flex items-center">
            <span x-icon="tab.icon"></span>
            <span class="pl-3" x-text="tab.name"></span>
          </button>
        </template>
      </nav>
    </div>

    <!-- Tabs web -->
    <div class="hidden md:block border-b border-gray-200 mb-5">
      <nav class="flex space-x-8">
        <template x-for="tab in $store.tabs.state.tabs" :key="tab.id">
          <button @click="activeTab = tab.id" :class="{'border-b-2 border-blue-500 text-primary': activeTab === tab.id}"
            class="py-4 px-1 text-sm font-medium text-gray-500 hover:text-gray-700 flex">
            <span x-icon="tab.icon"></span>
            <span class="pl-3 text-ellipsis whitespace-nowrap overflow-hidden" x-text="tab.name"
              :title="tab.name"></span>
          </button>
        </template>
      </nav>
    </div>

    <!-- Tab Content -->
    <div class="relative z-0 px-8">
      <div class="py-5 md:pt-0 flex">
        <button class="md:hidden grow-0" @click="$store.tabs.state.mobileShowTabs = true">
          <span x-icon:bars></span>
        </button>
        <h1 class="py-2.5 grow text-center md:text-start" x-text="$store.tabs.state.activeTabName"></h1>
      </div>

      <div x-data="charts">
        <!-- Dashboard -->
        <div data-tab="dashboard" :style="activeTab === 'dashboard' ? '' : 'display: none'"
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6" x-include="dashboard.html"></div>

        <!-- Pedidos -->
        <div data-tab="pedidos" :style="activeTab === 'pedidos' ? '' : 'display: none'"
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6" x-include="pedidos.html"></div>

        <!-- Arquitetos -->
        <div data-tab="arquitetos" :style="activeTab === 'arquitetos' ? '' : 'display: none'"
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6" x-include="arquitetos.html"></div>

        <!-- Experiencias -->
        <div data-tab="experiencias" :style="activeTab === 'experiencias' ? '' : 'display: none'"
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6" x-include="experiencias.html"></div>

        <!-- Campanhas -->
        <div data-tab="campanhas" :style="activeTab === 'campanhas' ? '' : 'display: none'"
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6" x-include="campanhas.html"></div>
      </div>
    </div>
  </div>
</template>