<!-- Pedidos Content -->
<div class="col-span-full" x-include="components\dinamic_table.html"
  x-data="dynamicTable([{id: 1, Pedido: '#12345', Nome: 'Nome do Usuário', Lançado: '12/09/2024', 'Data Venda': '12/09/2024', Status: 'Concluído', Total: 'R$ 1.123,00', Loja: 'NÚCLEO', Código: '867545', NF: '—'},
{id: 2, Pedido: '#12345', Nome: 'Nome do Usuário', Lançado: '12/09/2024', 'Data Venda': '12/09/2024', Status: 'Concluído', Total: 'R$ 1.123,00', Loja: 'NÚCLEO', Código: '867545', NF: '—'},
{id: 3, Pedido: '#12345', Nome: 'Nome do Usuário', Lançado: '12/09/2024', 'Data Venda': '12/09/2024', Status: 'Concluído', Total: 'R$ 1.123,00', Loja: 'NÚCLEO', Código: '867545', NF: '—'},
{id: 4, Pedido: '#12345', Nome: 'Nome do Usuário', Lançado: '12/09/2024', 'Data Venda': '12/09/2024', Status: 'Concluído', Total: 'R$ 1.123,00', Loja: 'NÚCLEO', Código: '867545', NF: '—'},
{id: 5, Pedido: '#12345', Nome: 'Nome do Usuário', Lançado: '12/09/2024', 'Data Venda': '12/09/2024', Status: 'Concluído', Total: 'R$ 1.123,00', Loja: 'NÚCLEO', Código: '867545', NF: '—'},
{id: 6, Pedido: '#12345', Nome: 'Nome do Usuário', Lançado: '12/09/2024', 'Data Venda': '12/09/2024', Status: 'Concluído', Total: 'R$ 1.123,00', Loja: 'NÚCLEO', Código: '867545', NF: '—'},
{id: 7, Pedido: '#12345', Nome: 'Nome do Usuário', Lançado: '12/09/2024', 'Data Venda': '12/09/2024', Status: 'Concluído', Total: 'R$ 1.123,00', Loja: 'NÚCLEO', Código: '867545', NF: '—'}])">
</div>