@import "./components/gridjs.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #00577D;
}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }

  [x-cloak] {
    display: none !important;
  }

  [type='search']{
    @apply rounded
  }

}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md font-medium transition-colors;
  }
  
  .btn-primary {
    @apply bg-primary text-white hover:bg-primary-dark;
  }
  
  .btn-danger {
    @apply bg-red-600 text-white hover:bg-red-700;
  }
  
  .input {
    @apply w-full px-3 py-2 border border-gray-300 rounded-md 
           focus:outline-none focus:ring-2 focus:ring-primary;
  }
  
  .card {
    @apply bg-white rounded-lg border border-gray-300 overflow-hidden;
  }

  .card .header{
    @apply py-4 px-6 border-b border-gray-300;
  }

  .card .body{
    @apply px-6;
  }

  .login-instruction {
    @apply text-base leading-6 tracking-[-0.408px] text-left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}